body > textarea
    position: fixed !important;

+prefix-classes(prefix)
  .-container
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 300px;
    height: 100%;
    position: relative;
    background-color: #282828;
    overflow: hidden;
    letter-spacing: 0.3px;
  
    div, ul, label, input, li
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      -ms-user-select: none; 
      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
  
    .-header
        /* BUTTON AND LOGO */
        min-width: 533px;
        position: absolute;
        background-color: #151515;
        top: 0;
        width: 100%;
    .-header-buttons,
    .-controls-buttons
        float: right;
        margin: 8px;

    .-header-logo,
    .-controls-logo
        float: left;
        width: 30%;
        padding: 17px;

    .-top-bar
        width: 100%;
        position: absolute;
        height: 58px;
        align-items: center;

        .-controls-history-buttons
            justify-content: center;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;

            .-controls-history-buttons-container
                margin-left: 25%;
                display: flex;

            .-item
                margin 10px !important;


        .-controls-buttons
            display: flex;
            justify-content: flex-end;

    .-header-buttons button,
    .-header-buttons div,
    .-controls-buttons button,
    .-controls-buttons div
        display: flex;
        width: 34px;
        height: 34px;
        border-radius: 20px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        margin: 0 10px;

    .-download-btn
        border: none
    .-save-btn
        cursor: pointer;
        height: 34px;
        width: 34px;
        opacity: 0.3;
        transition: opacity ease-out 0.3s;
    .-save-btn:hover
        opacity 1
    .-main-container
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 64px;
    .-main
        position: absolute;
        text-align: center;
        top: 64px;
        bottom: 0;
        right: 0;
        left: 0;
    .-wrap
        position: absolute;
        bottom: 0;
        width: 100%;
        overflow: auto;
        .-size-wrap
            display: table;
            width: 100%;
            height: 100%
            .-align-wrap
                display: table-cell;
                vertical-align: middle;
    .
        position: relative;
        display: inline-block;
        box-shadow: 0 6px 7px -4px rgb(0, 0, 0), 0 11px 15px 1px #0000000a, 0 4px 20px 3px rgba(0, 0, 0, 0);
        border-radius: 8px;
        overflow: hidden;


/* BIG MENU */
.{prefix}-container
    .{prefix}-menu
        width: auto;
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        > .{prefix}-item
            position: relative;
            padding: 7px 8px 3px 8px;
            cursor: pointer;
            border-right: solid 2px transparent;
            transition: all .3s ease;
            width: 100%;
            display: flex !important;
            justify-content: center;
            align-items: center;
            height: 58px;
        > .{prefix}-item:hover
            border-right: solid 2px #f3a008;
            transition: all .3s ease;
            width: 100%
        > .{prefix}-item.active
            border-right: solid 2px #f3a008;
            transition: all .3s ease;
            width: 100%;
            background: #ffffff0a;
    .{prefix}-wrap
        position: absolute;
